# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Output transkrip (file hasil, bisa besar)
output/*.txt
output/*.srt

# Whisper model cache
*.pt

# OS
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log
